// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';

$c-primary: #0047ff;
$c-white: #fff;
$c-red: #ff1900;
$c-green: #00a42e;

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
}

// TOP SECTION;


// TOP NAVBAR;
.top {
  background: url('/images/Mountains.jpg') no-repeat center center fixed;
  background-size: cover;
}

.navbar {
  display: flex;
  // flex-direction: column;
  // justify-content: space-around;

  > * {
    margin: 0.5rem;
    // background: $c-green;
  }
}

.navbar-left {
  display: inline-flex;
}

.navbar-logo {
  margin: 0.5rem;
  width: 3rem;
  height: 3rem;
}

.navbar-title {
  display: inline;

}

.navbar-right {
  display: inline-flex;
}

.navbar-right-item {
  margin: 0.5rem;
  // display: inline-block;
}

.search-icon {
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
  display: inline-block;
}



.main-heading {
  // background: blue;
  align-content: space-around;
  text-align: center;

}

.author-icon {
  width: 3rem;
  height: 3rem;
}

//  4-BOXES;

.four-boxes-grid {
  width: 10rem;
  height: 10rem;
}
