// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';

$c-primary: #0047ff;

body {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
}

// TOP NAVBAR;
.top {
  background: url('/images/Mountains.jpg');
}

.navbar-logo {
  width: 3rem;
  height: 3rem;
  margin-left: 10rem;
  float: left;
}

.navbar-title {
  float: left;
}

// .navbar-right {
//   display: inline-block;
//   float: right;
// }

.search-icon {
  width: 3rem;
  height: 3rem;
  line-height: 2rem;
}

// .main-heading {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   width: 7rem;
//   transform: translate(-50%, -50%);
//   text-align: center;
// }

.author-icon {
  width: 3rem;
  height: 3rem;
}
